body
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#outstandingLoanDiv
{
    display: none;
}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    border: 2px solid yellow;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
} 
.imageComputer
{
    height: 200px;
    width: 300px;
}
.btn
{
    border: none;
    color: black;
    padding: 5px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

/* Buttons */
#getLoanBtn
{
    background-color: #5ed410; /* Green */
}



