 #loanBtn
{
    display: none;
}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    border: 2px solid yellow;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
} 
.imageComputer
{
    height: 200px;
    width: 300px;
}

